@import url(icomoon/style.css);

/*-------------- GENERAL -------------------*/

.title a, .title a:hover {
	text-decoration: none!important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'brandon-grotesque', 'Century Gothic', Lato, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 500;
}

.green {
	background: #365e17;
}

#wrap {
	width: 960px;
	padding: 0;
	background: rgba(255,255,255,.9);
	margin-top: -14px;
	padding-top: 25px;
}

#container, #footer, #homeslider, #homepage, #content {
	width: 950px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	border: 0;
	float: none;
	background: 0!important;
}

#content_border, #homeslider_border, #footer_border, #homepage_border {
	padding: 10px 1%;
	box-shadow: none;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	border: 0;
	float: none;
	background: 0;
}

#header #title {
	float: none;
}

#header #title a {
	float: none;
}

#containerhome a.more-link {
	background: #365e17;
	font-family: 'brandon-grotesque', 'Century Gothic', Lato, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 500;
	color: #fff!important;
	width: 100%!important;
	border: 0;
}

#containerhome a.more-link:hover {
	background: #4f8922;
}

/*-------------- New Header -------------------*/

.wrap {
	max-width: 980px;
	margin-left: auto !important;
	margin-right: auto !important;
}

#header .hero {
	float: right;
	position: relative;
	top: 155px;
	right: 10px;
}
#header .hero img {
	display: inline;
	height: 65px;
}
#header .hero h2 {
	display: inline;
	position: relative;
	top: -50px;
	color: #fff;
	font-size: 28.84px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 1.318; /* Approximation due to font substitution */
}


/*-------------- OPTIN -------------------*/

#optin {
    text-align: center;
    color: #fff;
    font-family: 'brandon-grotesque', 'Century Gothic', Lato, sans-serif;
    font-size: 13px;
    font-style: italic;
    background: #ff9c07;
    padding: 5px 3% 20px;
    margin-top: 0;
    clear: both;
	position: relative;
	z-index: 100;
}

#optin input {
    margin-right: 10px;
	border: 0;
	padding: 5px;
}

#mc-embedded-subscribe-form {
	position: relative;
}

.mc-field-group, .mce-submit {
	display: inline;
}

.mc-field-group label, .mc-field-group input {
	display: inline-block;
	margin: 0 3px;
}

.mc-field-group input {
	width: 130px;
}

#optin #mc-embedded-subscribe {
	float: none;
	display: inline-block;
	position: absolute;
	top: -30px;
	right: 160px;
        float: right;
        margin: 0;
	background: #365e17;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	font-size: 28px!important;
	text-transform: uppercase;
        font-family: 'brandon-grotesque', 'Century Gothic', Lato, sans-serif;
        font-weight: 400;
	padding: 22px 8px 18px;
-webkit-transform: rotate(-15deg);
-moz-transform: rotate(-15deg);
-ms-transform: rotate(-15deg);
-o-transform: rotate(-15deg);
}

#optin #mc-embedded-subscribe:hover {
	background: #4f8922;
}

#optin .book {
	float: left;
	margin-top: -25px;
	margin-right: -114px;
}

#mc_embed_signup h3 {
	font-size: 18px;
	color: #fff;
}

#mc_embed_signup h3 span {
	text-transform: lowercase;
	font-size: 16px;
}

/*-------------- NAVIGATION -------------------*/

#oapaccess .menu-header LI, DIV.menu LI {
	float: none!important;
	display: inline;
}

#navbar {
	background: #365e17;
	width: 98%;
	padding: 1px 1% 1px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	float: none;
	text-align: left;
}

.menu a, .menu a:visited {
	display: inline-block;
	font-size: 15px;
	letter-spacing: .75px;
	padding: 9px 13px;
	color: #ddd;
	margin: 0;
	line-height: 1.5em;
	font-family: 'brandon-grotesque', 'Century Gothic', Lato, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-weight: bold;
}

.menu a:hover {
	background: 0;
	bordeR: 0;
	padding: 9px 13px;
	color: #fff;
	margin: 0;
}

.menu a.sf-with-ul, .menu a.sf-with-ul:hover {
	padding: 9px 13px;
}


.menu .current_page_item a, .menu .current_page_item a:hover, .menu .current-menu-item a, .menu .current-menu-item a:hover, .menu .current_page_ancestor a, .menu .current_page_ancestor a:hover, .menu .current-cat a, .menu .current-cat a:hover {
	background: 0;
	border: 0;
	color: #fff;
	padding-top: 4px;
	padding-bottom: 4px; 
}



.menu li .sub-menu li a {
	line-height: 1.4em;
	padding: 5px;
	text-transform: uppercase;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.menu li:hover ul,
.menu li.sfHover ul {
	left: 13px;
	top: 25px; /* match top ul list item height */
	z-index: 99;
}

.menu .current_page_item ul li a:hover, .menu .current-menu-item ul li a:hover, .menu .current_page_ancestor li a:hover, .menu .current-cat ul li a:hover {
	line-height: 1.4em;
    	padding: 5px;
}

a > .sf-sub-indicator {
	display: none;
}

#social-icons {
	text-align: right;
	width: 95px;
	float: right;
	margin-top: 4px;
	border-left: 2px solid #ddd;
}

a.social-icon, a.social-icon:hover {
	text-decoration: none;
}

a.social-icon:before {
	width: 30px;
	height: 23px;
	margin: 0 .4%;
	display: inline-block;
	text-decoration: none;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	color: #ddd;
	background: none;
	font-size: 24px;
	padding-top: 3px;
}

a.social-icon:hover:before { 
	text-decoration: none;
	color: #fff;
}

/*-------------- HOME -------------------*/

#homeslider h1 {
	text-align: left;
}

#homeslider h1 a {
	text-decoration: none!important;
}

#homeslider h1 a:hover {
	text-decoration: none;
}

div.anythingSlider .thumbNav a:hover, div.anythingSlider .thumbNav a.cur {
	background: #365e17;
}

.teaser_border {
	padding: 10px 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	border: 0;
	float: none;
	background: 0;
}

.teaser {
	box-shadow: none;
	-webkit-box-shadow: none;
	-mox-box-shadow: none;
	border: 0;
	float: none;
	background: 0!important;
	padding: 0;
}

a.teaser-image {
	position: relative;
	overflow: auto;
}

.teaser-image h2 {
	text-align: center;
	height: 63px;
	margin-top: 0;
	width: 90%;
	font-size: 19px;
	font-weight: 500;
	position: absolute;
	bottom: 0;
	background: rgba(255,255,255,.85);
	display: table-cell;
	vertical-align: middle;
	line-height: 1.3em;
	padding: 9px 5% 3px;
}

a.teaser-image:hover h2 {
	background: #fff;
}

.teaserinfo {
	padding: 0 10px;
}

#teasers a img {
	width: 100%;
	height: auto;
}

#containerhome a.teaser .more-link {
	width: 96%!important;
	padding: 2px 2%;
}

.homepage_feature {
	font-size: 18px;
	line-height: 1.45em;
}

.homepage_feature ul {
	padding-left: 20px;
}

.homepage_feature li {
	list-style: disc;
	padding-bottom: 10px;
}

#disclaimer {
	font-size: 12px;
	line-height: 15px;
	clear: both;
	border: 1px solid #999;
	padding: 10px 2%;
	width: 96%;
	margin: 15px 0;
	display: block;
	color: #999;
}

.gform_wrapper {
	margin-bottom: 40px!important;
}

.home .gform_wrapper .gform_footer input.button, .home .gform_wrapper .gform_footer input[type=submit] {
	font-size: 20px!important;
	text-transform: uppercase!important;
	margin-top: -30px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 7px 27px;
}

.gform_wrapper .gform_footer input.button:hover, .gform_wrapper .gform_footer input[type=submit]:hover {
	background: #99CC33;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
	font-size: 20px!important;
	text-transform: uppercase!important;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 7px 27px!important;
	margin-top: -15px;
}

.gform_wrapper li, .gform_wrapper form li {
	padding-left: 0;
}

/*-------------- FOOTER -------------------*/

.footerright {
	margin-top: 0;
}

.footerleft {
	margin-top: 2px;
}

/*-------------- COMMENTS -------------------*/

.cptch_block {
        clear: both;
        direction: ltr;
        float: left;
        margin-top: -20px !important;
}

/*-------------- BLOg -------------------*/

#content.full {
	width: 98%;
}