/********************************************************************************************************************

	Theme Name: Organic Restaurant Theme
	Theme URL: http://www.organicthemes.com/themes/restaurant-theme/
	Description: The Organic Restaurant Theme is designed and developed by David Morgan and Jeff Milone Organic Themes.
	Author: Organic Themes
	Author URI: http://www.organicthemes.com
	Version: 3.1.1
	Tags: tan, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, translation-ready, 
	custom-menu (optional), custom-colors, theme-options, featured-image-header, featured-images, full-width-template, 
	pagination, blog-template
	
	The CSS, XHTML and Design are released under the GPL:
	http://www.opensource.org/licenses/gpl-license.php
	
********************************************************************************************************************

	Table of Contents:

	 0.	Common
	 1.	Hyperlinks	
	 2.	Header
	 3.	Headings
	 4.	Navbar
	 5.	Featured Slider
	 6.	Teasers
	 7.	Homepage
	 8.	Content
	 9.	Menu Page
	10.	WordPress Gallery
	11.	Images
	12.	Pagination
	13.	Sidebar Right
	14.	Sidebar Widgets
	15.	Recent Comments
	16.	Custom Menu Widget
	17.	Calendar Widget
	18.	Search Form
	19.	Subscribe
	20.	Footer
	21. 	Footer info
	22.	Comments
	23.	Gravity Forms Styling
	  
*******************************************************************************************************************/

body {
	background: #DBD1A7 url(images/bg_pattern.png) repeat;
	background-size: cover;
	color: #666666;
	font-size: 13px;
	font-family: Arial, Helvetica, Trebuchet MS, sans-serif;
	line-height: 22px;
	margin: 0px auto 0px;
	padding: 0px;
	}
#wrap {
	margin: 0px auto 0px;
	padding: 0px 20px;
	width: 980px;
	}
	
/************************************************
*	0.	Common										*
************************************************/

.hidden {
	display: none;
	}
.clear {
	clear: both;
	}
.linerule {
	border-bottom: 1px solid #CCCCCC;
	padding-top: 15px;
	margin-bottom: 15px;
	}
code {
	color: #666666;
	background: #EAEAEA;
	font-size: 11px;
	margin: 0px;
	padding: 10px;
	display: block;
	font-family: Verdana, Tahoma, Verdana;
	}
	
/************************************************
*	1.	Hyperlinks									*
************************************************/

a, a:visited {
	color: #333333;
	text-decoration: underline;
	}
a:focus, a:hover, a:active {
	color: #99CC33;
	text-decoration: none;
	outline: none;
	}
a img {
	border: none;
	}

h1 a {
     text-decoration: underline !important;
}

h4 a {
   text-decoration: underline !important;
}

/************************************************
*	2.	Header  									*
************************************************/

#header {
	background: url('images/header-bg.jpg') no-repeat;
	background-position: 60% 0;
	background-size: cover;
	float: left;
	display: block;
	width: 100%;
	height: 500px;
}

#header_border {
	float: left;
	display:block;
	margin: 0px;
	padding: 15px 13px 10px 13px;
	border-top: 2px dotted #CCCCCC;
	border-left: 2px dotted #CCCCCC;
	border-right: 2px dotted #CCCCCC;
	border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-khtml-border-radius: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	}
#header #title {
	float: left;
	display: block;
	padding: 0px;
	margin: 0px 0px 5px 0px;
	}
#header #title a {
	background: url('images/new-logo.png') no-repeat !important;
	display: block; float: left;
	width: 222px;
	height: 222px; 
	margin: 20px auto !important
}

/************************************************
*	3.	Headings  									*
************************************************/

h1 {
	color: #333333;
	font-size: 30px;
	line-height: 36px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	text-transform: none;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	}
h2 {
	color: #333333;
	font-size: 24px;
	line-height: 32px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	text-transform: normal;
	text-align: left;
	margin: 5px 0px 5px 0px;
	padding: 5px 0px 5px 0px;
	}
h3 {
	color: #333333;
	font-size: 22px;
	line-height: 28px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	margin: 2px 0px 3px 0px;
	padding: 2px 0px 3px 0px;
	}
h4 {
	color: #333333;
	font-size: 18px;
	line-height: 24px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: italic;
	text-transform: normal;
	margin: 2px 0px 4px 0px;
	padding: 2px 0px 4px 0px;
	}
h5 {
	color: #333333;
	font-size: 16px;
	line-height: 22px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	text-transform: normal;
	margin: 2px 0px 4px 0px;
	padding: 2px 0px 4px 0px;
	}
h6 {
	color: #333333;
	font-size: 14px;
	line-height: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	text-transform: normal;
	margin: 2px 0px 8px 0px;
	padding: 2px 0px 2px 0px;
	border-bottom: 1px dotted #CCCCCC;
	}
h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited,
h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
	color: #333333;
	text-decoration: none;
	border: none;
	}
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
	color: #99CC33;
	text-decoration: none;
	border: none;
	}
	
/************************************************
*	4.	Navbar      								*
************************************************/

#navbar {
	float: left;
	display: block;
	background: #333333 url(images/gradient_bg.png) bottom repeat-x;
	position: relative;
	width: 960px;
	height: 40px;
	font-size: 16px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	margin: 0px auto 0px;
	padding: 4px 10px;
	z-index: 9;
	border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	}
#navbar span.fold {
	float: left;
	display: block;
	background: url(images/nav_fold.png) no-repeat;
	position: relative;
	width: 980px;
	height: 10px;
	top: 4px;
	left: -10px;
	z-index: 9;
	}
	
/*** ESSENTIAL STYLES ***/
.menu, .menu * {
	margin:	0;
	padding: 0;
	list-style:	none;
	}
.menu {
	line-height: 1.0;
	}
.menu ul {
	margin: 0px;
	padding: 0px;
	}
.menu ul ul, ul.menu ul {
	position: absolute;
	top: -9999px;
	width: 160px; /* left offset of submenus need to match (see below) */
	margin: 0px;
	}
.menu ul ul ul, ul.menu ul ul {
	margin: 0px;
	}
.menu ul li ul li, ul.menu ul li {
	width: 100%;
	margin: 0px 0px 0px 0px;
	}
.menu li:hover {
	visibility:	inherit; /* fixes IE7 'sticky bug' */
	}
.menu li {
	display: inline;
	position: relative;
	}
.menu li li {
	display: inline-block;
	position: relative;
	}
.menu a {
	display: inline-block;
	position: relative;
	}
.menu li:hover ul,
.menu li.sfHover ul {
	left: 0;
	top: 40px; /* match top ul list item height */
	z-index: 99;
	}
ul.menu li:hover li ul,
ul.menu li.sfHover li ul {
	top: -9999px;
	}
ul.menu li li:hover ul,
ul.menu li li.sfHover ul {
	left: 160px; /* match ul width */
	top: 0;
	}
ul.menu li li:hover li ul,
ul.menu li li.sfHover li ul {
	top: -9999px;
	}
ul.menu li li li:hover ul,
ul.menu li li li.sfHover ul {
	left: 160px; /* match ul width */
	top: 0;
	}
	
/*** SKIN ***/

.menu .current_page_item a, .menu .current_page_item a:hover,
.menu .current-menu-item a, .menu .current-menu-item a:hover,
.menu .current_page_ancestor a, .menu .current_page_ancestor a:hover,
.menu .current-cat a, .menu .current-cat a:hover {
	color: #FFFFFF !important;
	background: #151515;
	margin: 4px 0px 4px 0px;
	padding: 0px 9px 0px 9px;
	border: 1px dotted #444444;
	}
.menu li .current_page_item a, .menu li .current_page_item a:hover,
.menu li .current-menu-item a, .menu li .current-menu-item a:hover,
.menu li .current-cat a, .menu li .current-cat a:hover {
	color: #CCCCCC !important;
	background: #333333;
	margin: 0px 5px 5px 0px;
	padding: 0px 10px;
	border: none;
	}
.menu .current_page_item ul li a,
.menu .current-menu-item ul li a,
.menu .current_page_ancestor li a,
.menu .current-cat ul li a {
	color: #CCCCCC !important;
	background: #333333;
	margin: 0px 5px 5px 0px;
	padding: 0px 10px;
	border: none;
	}
.menu .current_page_item ul li a:hover,
.menu .current-menu-item ul li a:hover,
.menu .current_page_ancestor li a:hover,
.menu .current-cat ul li a:hover {
	color: #FFFFFF !important;
	background: #151515;
	margin: 0px 5px 5px 0px;
	padding: 0px 10px;
	border: none;
	}
.menu {
	margin-bottom: 0;
	}
.menu a {
	font-size: 12px;
	margin: 5px 0px 5px 0px;
	padding: 0px 10px 0px 10px;
	text-decoration: none;
	line-height: 30px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
.menu li li a {
	display: block;
	background:	#333333;
	font-size: 12px;
	line-height: 28px;
	border: none;
	margin: 0px 5px 5px 0px;
	padding: 0px 10px 0px 10px;
	text-align: left !important;
	text-decoration: none;
	text-transform: none;
	text-shadow: none !important;
	}
.menu a, .menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #999999;
	}
.menu li {
	background: none;
	}
.menu li li {
	background:	none;
	}
.menu li:hover, .menu li.sfHover {	
	}
.menu a:focus, .menu a:hover, .menu a:active {
	background: #151515;
	color: #FFFFFF;
	margin: 4px 0px 4px 0px;
	padding: 0px 9px 0px 9px;
	border: 1px dotted #444444;
	outline: 0;
	}
.menu li li:hover, .menu li li.sfHover {
	}
.menu li li a:focus, .menu li li a:hover, .menu li li a:active {
	background:	#151515;
	color: #FFFFFF;
	margin: 0px 5px 5px 0px;
	padding: 0px 10px 0px 10px;
	border: none;
	outline: 0;
	}
	
/*** ARROWS **/
.menu a.sf-with-ul {
	padding-right: 25px;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
	}
.menu a.sf-with-ul:hover {
	padding-right: 24px;
	}
.menu a.sf-with-ul:hover .sf-sub-indicator {
	right: 9px;
	}
.menu li li a.sf-with-ul:hover .sf-sub-indicator {
	right: 10px;
	}
.sf-sub-indicator {
	position: absolute;
	display: block;
	right: 10px;
	top: 11px; /* IE6 only */
	width: 10px;
	height:	10px;
	text-indent: -9999px;
	overflow: hidden;
	background:	url(images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
	}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top: 11px;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
	}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
	}
/* point right for anchors in subs */
.menu ul ul .sf-sub-indicator, ul.menu ul .sf-sub-indicator { 
	background-position:  -10px 0; 
	}
.menu ul ul a > .sf-sub-indicator, ul.menu ul a > .sf-sub-indicator { 
	top: 8px;
	background-position:  0 0; 
	}
/* apply hovers to modern browsers */
.menu ul ul a:focus > .sf-sub-indicator,
.menu ul ul a:hover > .sf-sub-indicator,
.menu ul ul a:active > .sf-sub-indicator,
.menu ul ul li:hover > a > .sf-sub-indicator,
.menu ul ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
	}
	
/************************************************
*	5.	Featured Slider							    *
************************************************/

#homeslider {
	float: left;
	display: block;
	background: #FFFFFF;
	width: 950px;
	max-height: 415px;
	margin: 0px 10px 15px 10px;
	padding: 0px 5px 5px 5px;
	overflow: hidden;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	box-shadow: 0px 1px 4px #333333;
	-moz-box-shadow: 0px 1px 4px #333333;
	-webkit-box-shadow: 0px 1px 4px #333333;
	}
#homeslider_border {
	display:block;
	width: 920px;
	max-height: 385px;
	margin: 0px;
	padding: 15px 13px 13px 13px;
	overflow: hidden;
	border-bottom: 2px dotted #CCCCCC;
	border-left: 2px dotted #CCCCCC;
	border-right: 2px dotted #CCCCCC;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-khtml-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	}
#homeslider .slideinfo {
	float: right;
	display: inline-block;
	width: 270px;
	height: 320px;
	padding: 15px;
	}
#homeslider h1 {
	text-align: center;
	max-height: 72px;
	margin: -10px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
	overflow: hidden;
	}
#homeslider p {
	color: #666666;
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
	margin: 0px 0px 12px 0px;
	padding: 0px 1px 0px 1px;
	overflow: hidden;
	}
#homeslider h4 {
	text-indent: -9999px;
	overflow: hidden;
	}
#homeslider ul, #homeslider li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
div.anythingSlider {
	width: 920px !important;
	margin: 0 auto 0;
	padding: 0px 0px 0px 0px;
	position: relative;
	list-style: none;
	}
div.anythingSlider li iframe, div.anythingSlider li embed,
div.anythingSlider li object {
	float: left;
	display: block;
	width: 620px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 8;
	}
div.anythingSlider li .feature_video {
	float: left;
	display: block;
	width: 620px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 8;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
div.anythingSlider li .feature_img {
	float: left;
	display: block;
	width: 620px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
div.anythingSlider .anythingWindow {
	float: left;
	display: block;
	position: relative;
	width: 920px;
	height: 350px;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	overflow: hidden;
	z-index: 1;
	clear: both;
	}
ul.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0px;
	padding: 0px;
	}
ul.anythingBase li.panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0px;
	margin: 0px;
	}

/* Navigation Arrows */
div.anythingSlider .arrow.back {
	float: left;
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	margin: 360px 0px 0px 0px;
	cursor: pointer;
	left: 0px;
	z-index: 9;
	overflow: hidden;
	border-right: 1px solid #CCCCCC;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-khtml-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	}
div.anythingSlider .arrow.forward {
	float: right;
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	margin: 360px 0px 0px 0px;
	cursor: pointer;
	right: 0px;
	z-index: 9;
	overflow: hidden;
	border-left: 1px solid #CCCCCC;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-khtml-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	}
div.anythingSlider .arrow a {
	display: block;
	background: #EEEEEE;
	color: #666666 !important;
	height: 24px;
	width: 24px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	line-height: 22px;
	margin: 0px 0px 0px 0px;
	outline: 0;
	}
#wrap div.anythingSlider .arrow a:hover {
	color: #FFFFFF !important;
	text-decoration: none;
	}
div.anythingSlider .arrow a:hover {
	background: #99CC33 url(images/gradient_bg.png) repeat-x;
	}
div.anythingSlider .arrow a:active, div.anythingSlider .arrow a:focus {
	text-decoration: none;
	}
div.anythingSlider .arrow.forward a {
	text-indent: 0px;
	}
div.anythingSlider .arrow.back a {
	text-indent: 2px;
	}
div.anythingSlider .forward.disabled { 
	display: none; 
	}
div.anythingSlider .back.disabled { 
	display: none; 
	}

/* Autoplay Start/Stop button */
div.anythingSlider .start-stop {
	display: none !important;
	}
	
/* Navigation Links */
div.anythingSlider .anythingControls {
	float: left;
	display: block;
	background: #EEEEEE;
	width: 870px;
	left: 0;
	margin: 360px 25px 0px 25px;
	padding: 0px;
	position: absolute;
	z-index: 8;
	outline: 0;
	clear: both;
	}	
div.anythingSlider.activeSlider .thumbNav a:hover, 
div.anythingSlider.activeSlider .thumbNav a.cur {
	color: #FFFFFF;
	text-decoration: none;
	}
div.anythingSlider .thumbNav {
	text-align: center;
	height: 24px;
	margin: 0px auto 0px !important;
	padding: 0px;
	}
div.anythingSlider .thumbNav li {
	display: inline;
	}
div.anythingSlider .thumbNav a {
	color: #666666 !important;
	display: inline-block;
	font-size: 11px;
	line-height: 24px;
	text-decoration: none;
	margin: 0px;
	padding: 0px 10px;
	outline: 0;
	}
div.anythingSlider .thumbNav a:hover, 
div.anythingSlider .thumbNav a.cur {
	background: #99CC33 url(images/gradient_bg.png) repeat-x;
	padding: 0px 10px;
	}
#wrap div.anythingSlider .thumbNav a:hover, 
#wrap div.anythingSlider .thumbNav a.cur {
	color: #FFFFFF !important;
	}
div.anythingSlider.rtl .thumbNav a { 
	float: right; 
	}
div.anythingSlider.rtl .thumbNav { 
	float: left; 
	}

/************************************************
*	6.	Teasers 					     		    * 
************************************************/

#teasers {
	margin: 0px 10px;
	padding: 0px;
	}
#teasers h2 {
	text-align: center;
	}
#teasers p {
	max-height: 86px;
	overflow: hidden;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
#teasers a img {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
.teaser {
	float: left;
	display: inline-block;
	background: #FFFFFF;
	width: 300px;
	margin: 0px 0px 15px 15px;
	padding: 5px;
	overflow: hidden;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 1px 4px #333333;
	-moz-box-shadow: 0px 1px 4px #333333;
	-webkit-box-shadow: 0px 1px 4px #333333;
	}
.teaser.first {
	clear: both;
	margin: 0px 0px 15px 0px;
	}
.teaser_border {
	padding: 8px;
	border: 2px dotted #CCCCCC;
	overflow: hidden;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

/************************************************
*	7.	Homepage 					     		    * 
************************************************/

#homepage {
	float: left;
	background: #FFFFFF;
	width: 950px;
	margin: 0px 10px 15px 10px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 1px 4px #333333;
	-moz-box-shadow: 0px 1px 4px #333333;
	-webkit-box-shadow: 0px 1px 4px #333333;
	}
#homepage_border {
	float: left;
	display: block;
	width: 920px;
	margin: 0px 0px 0px 0px;
	padding: 13px 13px 13px 13px;
	border: 2px dotted #CCCCCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#homepage .title {
	font-size: 36px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	}
.homepage_feature {
	float: left;
	display: block;
	width: 620px;
	margin: 0px 0px 0px 0px;
	padding: 0px 15px 0px 0px;
	}
#homeside {
	float: right;
	display: block;
	margin: 0px;
	padding: 0px;
	}
	
/************************************************
*	8.	Content 					     		    * 
************************************************/

#container {
	float: left;
	background: #FFFFFF;
	width: 950px;
	margin: 0px 10px 15px 10px;
	padding: 0px 5px 5px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 1px 4px #333333;
	-moz-box-shadow: 0px 1px 4px #333333;
	-webkit-box-shadow: 0px 1px 4px #333333;
	}
#content_border {
	float: left;
	display: block;
	width: 920px;
	margin: 0px;
	padding: 20px 13px 13px 13px;
	border-left: 2px dotted #CCCCCC;
	border-right: 2px dotted #CCCCCC;
	border-bottom: 2px dotted #CCCCCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#content.left {
	float: left;
	display: block;
	background:#FFFFFF;
	width: 620px;
	margin: 0px 0px 0px 0px;
	padding: 0px 15px 0px 0px;
	}
#content.wide, .content_wide {
	float: left;
	display: block;
	background:#FFFFFF;
	width: 918px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}
#content.left .feature_video iframe, #content.left .feature_video embed,
#content.left .feature_video object {
	float: left;
	display: block;
	width: 620px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 8;
	}
#content.left .feature_video {
	margin: 0px;
	padding: 10px 0px;
	overflow: hidden;
	position: relative;
	z-index: 8;
	}
#content.left .feature_img img {
	margin: 0px;
	padding: 10px 0px;
	}
.postarea p {
	padding: 6px 0px 6px 0px;
	margin: 0px 0px 0px 0px;
	}
.postarea hr {
	border: 0;
	width: 100%;
	height: 1px;
	color: #DDDDDD;
	background-color: #DDDDDD;
	margin: 5px 0px 8px 0px;
	padding: 0px;
	}
.postarea ol {
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 10px 0px;
	}
.postarea ol li {
	margin: 0px 0px 0px 20px;
	padding: 0px 0px 5px 0px;
	}
.postarea ul {
	list-style-type: none;
	margin: 0px 0px 0px 5px;
	padding: 0px 0px 10px 0px;
	}
.postarea ul ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	}
.postarea ul li {
    list-style: inside;
    list-style-type: square;
	background: none;
	padding: 0px 0px 0px 15px;
	margin: 0px 0px 5px 0px;
	}
.postarea ul ul li {
	background: none;
	padding: 0px 0px 0px 15px;
	margin: 0px 0px 5px 0px;
	}
blockquote {
	color: #999999;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 24px;
	font-style: italic;
	font-weight: normal;
	line-height: 28px;
	margin: 10px 25px 10px 25px;
	padding: 0px 25px 0px 10px;
	}
blockquote p {
	margin: 0px;
	padding: 10px 0px 10px 0px;
	}
.posttitle {
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
	}
.postauthor {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 11px;
	margin: -10px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
	}
.postauthor p {
	color: #999999;
	padding: 0px 0px 0px 0px;
	}
.postmeta {
	background: #F5F5F5;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 11px;
	margin: 10px 0px 25px 0px;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
.postmeta p {
	margin: 0px;
	padding: 0px;
	}
.avatar {
	background: #F5F5F5;
	border: 1px solid #DDDDDD;
	margin: 10px 10px 10px 0px;
	padding: 4px;
	}
.author_column {
	float: right;
	width: 450px;
	padding: 0px 0px 0px 19px;
	border-left: 1px solid #DDDDDD;
	}
.archive_column {
	float: left;
	width: 300px;
	margin: 0px;
	padding: 0px 10px 20px 0px;
	}
.more-link {
	display: block;
	background: #EEEEEE;
	width: 100%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	margin: 15px 0px 0px 0px;
	padding: 0px;
	border: 1px dotted #FFFFFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
.more-link:hover {
	background: #99CC33 url(images/gradient_bg.png) repeat-x;
	}
#wrap .more-link:hover {
	color: #FFFFFF !important;
	}
#homepage .more-link {
	display: inline-block;
	width: auto;
	margin: 5px 0px 0px 0px;
	padding: 0px 12px;
	}
.postarea.blog .more-link {
	display: inline-block;
	width: auto;
	margin: 5px 0px;
	padding: 0px 12px;
	}
	
/************************************************
*	9.	Menu Page  					     		    * 
************************************************/

.container_menu {
	float: left;
	background: #FFFFFF;
	width: 950px;
	margin: 0px 10px 15px 10px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 1px 4px #333333;
	-moz-box-shadow: 0px 1px 4px #333333;
	-webkit-box-shadow: 0px 1px 4px #333333;
	}
.border_menu {
	float: left;
	display: block;
	width: 920px;
	margin: 0px;
	padding: 13px 13px 13px 13px;
	border: 2px dotted #CCCCCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
.menu_title {
	font-size: 32px;
	text-align: center;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 2px dotted #CCCCCC;
	}
.menu_page {
	float: left;
	display: block;
	width: 918px;
	padding: 10px 0px;
	margin: 0px 0px 10px 0px;
	}
.menu_thumb img {
	float: left;
	display: block;
	margin: 0px 15px 0px 0px;
	padding: 4px;
	border: 1px solid #CCCCCC;
	}
.menu_description {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 5px 0px 5px;
	overflow: hidden;
	}
.menu_description h4 {
	border-bottom: 1px dotted #CCCCCC;
	}
.menu_description h4 span {
	float: right;
	}
.menu_description p {
	padding: 0px;
	margin: 0px;
	}

/************************************************
*	10.	WordPress Gallery						    *
************************************************/

.gallery {
	margin: auto;
	padding: 0px;
	}
.gallery-item {
	margin: 5px 0px;
	}
.gallery img {
	background: #F5F5F5;
	border: 1px solid #DDDDDD !important;
	padding: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
.gallery img:hover {
	background: #333333;
	border: 1px solid #333333 !important;
	padding: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}


/************************************************
*	11.	Images  					     		    * 
************************************************/

#featurebanner {
	margin: 0px 0px 20px 0px;
	overflow: hidden;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#featurebanner img {
	display: block;
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
	}
img.centered {
	display: block;
	margin: 10px auto 10px;
	padding: 0px;
	}
img.alignnone {
	padding: 0px;
	margin: 10px 0px 10px 0px;
	display: inline;
	}
img.alignright {
	padding: 0px;
	margin: 5px 0px 10px 15px;
	display: inline;
	}
img.alignleft {
	padding: 0px;
	margin: 5px 15px 10px 0px;
	display: inline;
	}
.aligncenter {
	display: block;
	margin: 10px auto 10px;
	}
.alignright {
	float: right;
	margin: 10px 0px 10px 15px;
	}
.alignleft {
	float: left;
	margin: 10px 15px 10px 0px;
	}
.wp-caption {
	border: 1px solid #CCCCCC;
	text-align: center;
	background-color: #f5f5f5;
	padding: 5px 0px 0px 0px;
	margin-bottom: 10px;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-khtml-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	}
.wp-caption img {
	margin: 0px;
	padding: 0px;
	border: 0px;
	}
.wp-caption p.wp-caption-text {
	margin: 0px;
	padding: 5px;
	font-size: 11px;
	font-weight: normal;
	line-height: 18px;
	}
	
/************************************************
*	12.	Pagination 	  	      			     	* 
************************************************/

#pagination {
	display: block;
	background: #FFFFFF;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	}
.pagination {
	float: left;
	display: block;
	width: 100%;
	text-align: center;
	margin: 5px 0px 5px 0px;
	padding: 0px;
	}
.number-paginate {
	padding: 5px 0px;
	}
.number-paginate a {
	display: inline-block;
	background: #F5F5F5;  
	color: #666666; 
	height: 30px;
	line-height: 30px;
	margin-right: 4px; 
	padding: 0px 12px; 
	font-weight: bold;
	text-align: center; 
	text-decoration: none;
	border: none;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	}
.number-paginate a:hover, 
.number-paginate a:active {
	background: #333333; 
	color: #FFFFFF;
	height: 30px;
	line-height: 30px;
	padding: 0px 12px; 
	border: none;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	}
.number-paginate .number-title {
	color: #555555; 
	margin-right: 4px;
	}
.number-paginate .number-gap {
	color: #999999; 
	margin-right: 4px;
	}
.number-paginate .number-current {
	display: inline-block;
	background: #333333; 
	color: #FFFFFF; 
	height: 30px;
	line-height: 30px;
	margin-right: 4px; 
	padding: 0px 12px;
	font-weight: bold;
	text-align: center;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	}
.number-paginate .number-page {
	}
.number-paginate .number-prev {
	}
.number-paginate .number-next {
	}
#prevLink {
	float: left;
	padding: 0px;
	margin: 0px;
	}
#nextLink {
	float: right;
	padding: 0px;
	margin: 0px;
	}
#prevLink p, #nextLink p {
	padding: 0px;
	}
#prevLink p a, #nextLink p a {
	display: block;
	padding: 0px;
	}
	
/************************************************
*	13.	Sidebar Right 	        			     	* 
************************************************/

#sidebar_right {
	float: right;
	display: inline-block;
	background: #F5F5F5;
	width: 250px;
	margin: 0px 0px 0px 0px;
	padding: 12px 12px 0px 12px;
	border: 3px dotted #FFFFFF;
	}
	
/************************************************
*	14.	Sidebar Widgets								*
************************************************/

#sidebar_right .widget {
	float: right;
	list-style:none;
	text-align: center;
	width: 250px;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 15px 0px;
	border-bottom: 5px dotted #FFFFFF;
	}
#sidebar_right .widget h4 {
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 10px 0px;
	margin: 0px 0px 0px 0px;
	}
#sidebar_right .widget ul {
	color: #666666;
	margin: 0px;
	padding: 0px;
	}
#sidebar_right .widget ul ul, #sidebar_right .widget ul ul ul {
	margin: 0px;
	padding: 0px;
	}
#sidebar_right .widget ul li {
	color: #666666;
	display: inline;
	background: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
#sidebar_right .widget ul li a {
	color: #666666;
	display: block;
	background: none;
	text-decoration: none;
	padding: 4px 6px 4px 6px;
	margin: 0px 0px 1px 0px;
	border-bottom: 1px dotted #CCCCCC;
	}
#sidebar_right .widget ul li a:hover {
	color: #333333;
	font-weight: bold;
	}
	
/************************************************
*	15.	Recent Comments								*
************************************************/

#recentcomments li {
	display: block !important;
	text-align: left !important;
	line-height: 18px;
	margin: 0px !important;
	padding: 6px !important;
	border-bottom: 1px dotted #CCCCCC;
	}
#recentcomments li a {
	text-decoration: none !important;
	font-weight: bold !important;
	border: none !important;
	}
#recentcomments li a:hover {
	background: none !important;
	text-decoration: underline !important;
	}
	
/************************************************
*	16.	Custom Menu Widget							*
************************************************/

#sidebar_right ul.menu, #footerwidgets ul.menu {
	float: none;
	}
#sidebar_right ul.menu .current_page_item a, #sidebar_right ul.menu .current-menu-item a,
#footerwidgets ul.menu .current_page_item a, #footerwidgets ul.menu .current-menu-item a {
	background: none;
	color: #333333 !important;
	font-weight: bold;
	padding: 5px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px dotted #CCCCCC;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	}
#sidebar_right ul.menu li a, 
#footerwidgets ul.menu li a {
	background: #none;
	color: #666666;
	line-height: 18px;
	text-shadow: none;
	letter-spacing: 0px;
	padding: 5px;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px dotted #CCCCCC;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	}
#sidebar_right ul.menu li a:hover,
#footerwidgets ul.menu li a:hover {
	color: #333333 !important;
	font-weight: bold;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px dotted #CCCCCC;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	} 
#sidebar_right ul.menu li,
#footerwidgets ul.menu li {
	float: none;
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	}
#sidebar_right ul.menu li span, 
#footerwidgets ul.menu li span {
	top: 8px;
	}
#sidebar_right ul.menu li ul.sub-menu, 
#footerwidgets ul.menu li ul.sub-menu {
	width: 100%;
	top: 0;
	margin: 0px 0px 0px 0px;
	position: relative;
	z-index: 9;
	}
#sidebar_right ul.menu li ul.sub-menu span, 
#footerwidgets ul.menu li ul.sub-menu span {
	display: none;
	}
#sidebar_right ul.menu li ul.sub-menu li a,
#footerwidgets ul.menu li ul.sub-menu li a  {
	background: none;
	text-align: center !important;
	width: 100%;
	margin: 0px;
	padding: 5px;
	}
#sidebar_right ul.menu li ul.sub-menu li ul.sub-menu li, 
#footerwidgets ul.menu li ul.sub-menu li ul.sub-menu li {
	display: none;
	}
	
/************************************************
*	17.	Calendar Widget							*
************************************************/

#calendar_wrap {
	margin: 0px auto 0px;
	padding: 0px 10px 0px 10px;
	}
#wp-calendar {
	width: 100%;
	text-align: center;
	}
#wp-calendar a {
	margin: 0px !important;
	}
#wp-calendar caption {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 14px;
	padding: 0px 0px 4px 0px;
	margin: 5px 0px 5px 0px;
	border-bottom: 1px dotted #CCCCCC;
	}
#wp-calendar #prev a {
	float: left;
	margin: 10px 0px 0px 0px !important;
	text-align: left;
	}
#wp-calendar #next a {
	float: right;
	margin: 10px 0px 0px 0px !important;
	text-align: right;
	}
	
/************************************************
*	18.	Search Form									*
************************************************/

#searchform {
	margin: 0px;
	padding: 0px;
	}
#searchform label {
	display: none;
	}
#s {
	background: #F9F9F9;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Helvetica, Trebuchet MS, sans-serif;
	margin: 10px 0px 0px 0px;
	padding: 6px 4px;
	display: inline;
	width: 96%;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#s:hover {
	background: #FFFFFF;
	}
#searchsubmit {
	float: right;
	background: #99CC33;
	color: #FFFFFF;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	text-decoration: none;
	margin: 10px 0px 0px 0px;
	padding: 4px 12px;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#searchsubmit:hover {
	color: #FFFFFF;
	background: #99CC33 url(images/gradient_bg.png) repeat-x;
	}
	
/************************************************
*	19.	Subscribe									*
************************************************/

.subscribe form {
	margin: 0px;
	padding: 0px;
	}
.subscribe input {
	margin: 0px;
	padding: 0px;
	}
.subscribe p {
	margin: 0px;
	padding: 0px !important;
	}
#subscribe {
	margin: 5px 0px 0px 0px;
	}
#subbox {
	float: left;
	background: #F9F9F9;
	background-repeat: no-repeat;
	width: 96%;
	color: #666666;
	font-size: 12px;
	font-family: Arial, Helvetica, Trebuchet MS, sans-serif;
	font-weight: normal;
	margin: 0px 5px 0px 0px;
	padding: 6px 4px 6px 4px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#subbox:hover {
	background: #FFFFFF;
	}
#subbutton {
	float: right;
	background: #99CC33;
	color: #FFFFFF;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	text-decoration: none;
	margin: 10px 0px 0px 0px;
	padding: 4px 12px;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#subbutton:hover {
	color: #FFFFFF;
	background: #99CC33 url(images/gradient_bg.png) repeat-x;
	}
	
/************************************************
*	20.	Footer										*
************************************************/

#footer {
	float: left;
	background: #FFFFFF;
	width: 950px;
	margin: 0px 10px 20px 10px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0px 1px 4px #333333;
	-moz-box-shadow: 0px 1px 4px #333333;
	-webkit-box-shadow: 0px 1px 4px #333333;
	}
#footer_border {
	float: left;
	display: block;
	width: 920px;
	margin: 0px;
	padding: 0px 13px 0px 13px;
	border: 2px dotted #CCCCCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#footerwidgets {
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}
#footerwidgets h4 {
	color: #666666;
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: italic;
	text-transform: normal;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 10px 0px;
	text-decoration: none;
	}
#footerwidgets li {
	text-decoration: none;
	list-style-type: none;
	}
#footerwidgets li a, #footerwidgets li a:link, #footerwidgets li a:visited {
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	}
#footerwidgets ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px 10px 0px;
	}
#footerwidgets ul ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	}
#footerwidgets ul li {
	display: inline;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	}
#footerwidgets ul li a {
	color: #666666;
	display: block;
	background: none;
	text-decoration: none;
	padding: 4px 6px 4px 6px;
	margin: 0px 0px 1px 0px;
	border-bottom: 1px dotted #CCCCCC;
	}
#footerwidgets ul li a:hover {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
	}
#footerwidgets .widget {
	float: left;
	list-style:none;
	text-align: center;
	width: 286px;
	margin: 10px 0px 20px 0px;
	padding: 5px 0px 5px 0px;
	}
.widgetleft {
	width: 286px;
	float: left;
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 0px 0px;
	}
.widgetmid {
	width: 286px;
	float: left;
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
	}
.widgetright {
	width: 286px;
	float: right;
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 20px;
	}
	
/************************************************
*	21.	Footer Info									*
************************************************/

#footerinfo {
	width: 920px;
	color: #FFFFFF;
	margin: 0px 0px 0px 0px;
	padding: 13px 0px 13px 0px;
	overflow: hidden;
	}
#footerinfo p {
	color: #999999;
	font-size: 11px;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
	}
.footerleft {
	float: left;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}
.footerright {
	float: right;
	display: block;
	margin: 5px 0px 0px 0px;
	}
	
/************************************************
*	22.	Comments									*
************************************************/

#submit {
	background: #EEEEEE;
	color: #666666;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	text-decoration: none;
	margin: 0px;
	padding: 2px 8px 2px 8px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#author, #email, #url {
	background: #F5F5F5;
	margin: 5px 0px 5px 0px;
	padding: 4px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#comment {
	background: #F5F5F5;
	margin: 5px 0px 5px 0px;
	padding: 4px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
.postcomments {
	font-family: font-family: Arial, Helvetica, Trebuchet MS, sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}
.commentlist li ul li {
	font-size: 12px;
	}
.commentlist li {
	font-weight: bold;
	}
.commentlist li .avatar {
	float: right;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	margin: 0px 0px 5px 5px;
	padding: 4px;
	}
.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 12px;
	}
.commentlist p {
	font-weight: normal;
	text-transform: none;
	}
.commentmetadata {
	font-weight: normal;
	}
#commentform {
	margin: 5px 10px 0px 0px;
	}
#commentform input {
	padding: 6px 4px 6px 4px;
	margin: 5px 5px 0px 0px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#commentform textarea {
	width: 100%;
	padding: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
#commentform p {
	margin: 5px 0px 5px 0px;
	}
#commentform #submit {
	float: left;
	display: block;
	margin: 0px;
	padding: 6px 12px;
	cursor: pointer;
	}
#commentform #submit:hover {
	color: #FFFFFF;
	background: #99CC33 url(images/gradient_bg.png) repeat-x;
	}
#respond {
	margin: 15px 0px 0px 0px;
	}
#respond:after {
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
	}
.alt {
	margin: 0px;
	padding: 10px;
	}
.commentlist {
	margin: 0px;
	padding: 0px;
	}
.commentlist ol {
	margin: 0px;
	padding: 10px;
	}
.commentlist li {
	margin: 15px 0px 5px 0px;
	padding: 10px 10px 10px 10px;
	list-style: none;
	}
.commentlist li ul li {
	margin-right: 5px;
	margin-left: 5px;
	}
.commentlist p {
	margin: 10px 0px 10px 0px;
	padding: 0px;
	}
.children {
	margin: 0px;
	padding: 0px;
	}
.nocomments {
	text-align: center;
	margin: 0px;
	padding: 0px;
	}
.reply a, .reply a:visited {
	background: #f5f5f5;
	color: #666666;
	font-family: Arial, Helvetica, Trebuchet MS, sans-serif;
	font-size: 11px;
	text-decoration: none;
	margin: 0px;
	padding: 5px 10px 5px 10px;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
.reply a:hover {
	background: #99CC33 url(images/gradient_bg.png) repeat-x;
	text-decoration: none;
	}
#wrap .reply a:hover {
	color: #FFFFFF !important;
	}
.commentmetadata {
	font-size: 10px;
	margin: 0px;
	display: block;
	}
.navigation {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0px;
	overflow: hidden;
	}
.alignright {
	float: right;
	}
.alignleft {
	float: left;
	}
.thread-alt {
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
	}
.thread-even {
	background: #F5F5F5;
	margin: 0px;
	padding: 0px;
	}
.depth-1 {
	border: 1px solid #DDDDDD;
	margin: 0px;
	padding: 0px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
.even, .alt {
	border: 1px solid #DDDDDD;
	margin: 0px;
	padding: 0px;
	}

/************************************************
*	23.	Gravity Forms Styling									*
************************************************/

#container .gform_wrapper, #containerhome .gform_wrapper{ 
	overflow:hidden; 
	margin-bottom:10px;  
	max-width:960px;
	}
#container .gform_wrapper textarea, #containerhome .gform_wrapper textarea,
#container .gform_wrapper input, #containerhome .gform_wrapper input, 
#container .gform_wrapper select, #containerhome .gform_wrapper select { 
	background: #EEEEEE; 
	border: 1px solid #DDDDDD;
	outline-style:none;
	color: #999999;
	font-size:16px;  
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	padding:8px 5px;  
	letter-spacing:normal;
	resize:none; /* doesn't validate but added for Safari field resizing */
	}
#container .gform_wrapper textarea:hover,
#container .gform_wrapper input:hover,
#container .gform_wrapper select:hover,
#containerhome .gform_wrapper textarea:hover,
#containerhome .gform_wrapper input:hover,
#containerhome .gform_wrapper select:hover {
	background: #DDDDDD;
	color: #333333;
	}
#container .gform_wrapper h1, 
#container .gform_wrapper h2, 
#container .gform_wrapper h3,
#containerhome .gform_wrapper h1, 
#containerhome .gform_wrapper h2, 
#containerhome .gform_wrapper h3 {
	font-weight:normal; 
	border:none; 
	outline:none; 
	background:none;
	}
#container .gform_wrapper:focus, #containerhome .gform_wrapper:focus { 
	outline:none;
	}
#container .gform_wrapper form, #containerhome .gform_wrapper form { 
	text-align:left;
	}
#container .gform_wrapper .field_hover, #containerhome .gform_wrapper .field_hover { 
	border:1px dashed #EEEEEE!important;  
	cursor:pointer;
	}
#container .gform_wrapper .field_selected, #containerhome .gform_wrapper .field_selected { 
	background-color:#DDDDDD;  
	border:1px solid #EEEEEE!important;
	}
#container .gform_wrapper .ginput_complex label, 
#container .gform_wrapper .gfield_time_hour label, 
#container .gform_wrapper .gfield_time_minute label, 
#container .gform_wrapper .gfield_date_month label, 
#container .gform_wrapper .gfield_date_day label, 
#container .gform_wrapper .gfield_date_year label, 
#container .gform_wrapper .instruction { 
	display:block;  
	margin:3px 0 8px 0; 
	font-size:10px; 
	letter-spacing: 1px;
	}
#container .gform_wrapper .top_label .gfield_label { 
	margin:10px 0 4px 0;  
	font-weight:bold; 
	display:-moz-inline-stack; 
	display:inline-block; 
	line-height:130%; 
	clear:both;
	}
#container .gform_wrapper .left_label .gfield_label { 
	float:left;  
	margin:2px 15px 0 0;  
	width:29%;  
	font-weight:bold;
	}
#container .gform_wrapper .right_label .gfield_label { 
	float:left;  
	margin:2px 15px 0 0;  
	width:29%;  
	font-weight:bold;  
	text-align:right;
	}
#container .gform_wrapper .top_label input.large, 
#container .gform_wrapper .top_label select.large, 
#container .gform_wrapper .top_label textarea.textarea { 
	width:98%;
	}
#container .gform_wrapper .right_label input.small, 
#container .gform_wrapper .right_label select.small, 
#container .gform_wrapper .left_label input.small, 
#container .gform_wrapper .left_label select.small { 
	width:15%;
	}
#container .gform_wrapper .right_label input.medium, 
#container .gform_wrapper .right_label select.medium, 
#container .gform_wrapper .left_label input.medium, 
#container .gform_wrapper .left_label select.medium { 
	width:35%;
	}
#container .gform_wrapper .right_label input.large, 
#container .gform_wrapper .right_label select.large, 
#container .gform_wrapper .left_label input.large, 
#container .gform_wrapper .left_label select.large, 
#container .gform_wrapper textarea.textarea { 
	width:59%;
	}
#container .gform_wrapper .gsection .gfield_label, 
#container .gform_wrapper h2.gsection_title, 
#container .gform_wrapper h3.gform_title { 
	font-weight:bold;  
	font-size:16px;  
	font-family:Helvetica,sans-serif;
	}
#container .gform_wrapper .description, 
#container .gform_wrapper .gfield_description, 
#container .gform_wrapper .gsection_description,
#container .gform_wrapper .instruction { 
	font-size:10px; 
	line-height:150%; 
	clear:both; 
	font-family:verdana,sans-serif; 
	letter-spacing:normal;
	}
#container .gform_wrapper .gfield_required { 
	color:#790000;  
	margin-left:4px;
	}
#container .gform_wrapper .gfield_error { 
	background-color:#0099CC!important;  
	margin-top:4px!important;  
	margin-bottom:6px;  
	padding:6px 6px 4px 6px!important; 
	}
#container .gform_wrapper .gfield_error .gfield_label { 
	color:#333333;
	}
#container .gform_wrapper .validation_error { 
	background: #0099CC;
	color:#FFFFFF; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;  
	font-size:18px;
	font-style: normal;
	text-align:center;
	line-height:150%;  
	margin-bottom:10px;
	width: 94%;
	padding: 20px;
	}
#container .gform_wrapper .validation_message { 
	color:#333333!important;  
	font-size:11px;  
	font-family: Arial, Helvetica, sans-serif;  
	letter-spacing:normal;
	}
#container .gform_wrapper input.button { 
	font-size:18px;  
	color:#666666;
	}
#container .gform_wrapper input.button:hover { 
	color:#333333;
	background: #DDDDDD;
	}
#container #gforms_confirmation_message {
	background-color:#EEEEEE; 
	border:1px solid #DDDDDD; 
	margin-top:10px; 
	margin-bottom:10px; 
	padding:20px 0; 
	font-size:14px;
	color:#333333; 
	text-align:center
	}
#container .gform_footer input.button {
	*padding: 5px 10px;
	padding: 5px 10px;
	background:#EEEEEE; 
	font-weight:bold;
	}
#container .gform_footer input.button {
	*padding: 5px 10px;
	padding: 5px 10px;
	background: #F5F5F5; 
	font-weight: normal;
	}
#container img.ui-datepicker-trigger {
	position:relative; 
	top: 10px;
	}
/*****************************************
* Popup CSS
*****************************************/

#popwin {
	position: absolute;											
	z-index: 10;												
	display: none;												
	width: 489px;
	height: auto;
}
.pop-out {
	float:left;
	clear:both;
}
.pop-out p{
	float:left;
	color: #666666;
}
.pop-out a{
	color: #666666;
	margin: 0 ;
	padding:0;
	text-decoration:none;
}
.pop-out a:hover{
	text-decoration:underline;
}
.pop-out strong{
	font-weight:bold;
	
}
.pop_content_l {
	background: transparent url(images/tcap-hoverbox.png) no-repeat top left;width:399px;margin:0;padding:20px 0 0 90px;
}
.pop_content_l div, .pop_content_r div {
	color:#efefef; width:370px; margin:0 0 -6px 0;padding:0;
}
.pop_content_l h4{
	color:#9ed211;
}
.pop_content_r {
	background: transparent url(/img/tcap-hoverbox_r.png) no-repeat top left;width:399px;margin:0 0 0 ;padding:20px 55px 0 35px;
}
.pop_content_l p, .pop_content_r p {
	width:370px; text-align:right; margin:0; padding:0;
}

#All_Spice, #Aniseed, #Black_Mustard_Seed, #Cardamom, #Cayenne_Chili_Flakes, #Cinnamon, #Chipotle, #Clove, #Coriander_ground, #Cumin, #Curry_Powder, #Garam_Masala, #Fennel, #Lemongrass, #Nutmeg, #Pumpkin_Pie_Spice, #Sea_Salt_Celtic_or_Himalayan, #Turmeric, #Basil, #Cilantro_coriander, #Dill, #Mint, #Nettle, #Oregano,
#Parsley, #Thyme, #Rosemary, #Sage, #Siberian_Ginseng, #Aloe, #Garlic, #Lemon, #Lime, #Onion, #Ginger {
	position:absolute; visibility:hidden; display:none;
}
#All_Spice h4, #Aniseed h4, #Black_Mustard_Seed h4, #Cardamom h4, #Cayenne_Chili_Flakes h4, #Cinnamon h4, #Chipotle h4, #Clove h4, #Coriander_ground h4, #Cumin h4, #Curry_Powder h4, #Garam_Masala h4, #Fennel h4, #Lemongrass h4, #Nutmeg h4, #Pumpkin_Pie_Spice h4, #Sea_Salt_Celtic_or_Himalayan h4, #Turmeric h4, #Basil h4, #Cilantro_coriander h4, #Dill h4, #Mint h4, #Nettle h4, #Oregano h4, #Parsley h4, #Thyme h4, #Rosemary h4, #Sage h4, #Siberian_Ginseng h4, #Aloe h4, #Garlic h4, #Lemon h4, #Lime h4, #Onion h4, #Ginger h4 {
	color:#efefef;
}
